<h1> Welcome, <%= @merchant_user.name %>!</h1>
<br>

<center>
  <section id= "dashboard-link">
  <h2><%= link_to "View Items", "/merchant/items", class: "btn btn-primary btn-lg" %></h2>
  </section>
</center>

<br />
<%= render partial:'merchant_info' %>
